@{
    Layout = string.Empty;//不套公版
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    @Styles.Render("~/Content/Css/framework")
</head>
    <body>
        <h1>Hello, this is a CSS template</h1>
        <h2>Let's Go !!</h2>
        <a href="http://kimix.name/css/">* Ref</a>
        <h3>Demo</h3>
        <ul>
            <li><a href="/Marsen/Tests/Css/1">單欄式</a></li>
            <li><a href="/Marsen/Tests/Css/2">雙欄式</a></li>
            <li><a href="/Marsen/Tests/Css/3">三欄式</a></li>
            <li></li>
            <li></li>
        </ul>
        <hr />
        <div class="wrapper">
            <div class="left">盡為受。幾業本造意當子二，方火動李方然他。住小科登務如卻。後洋一如線達告子喜港友變目不族風西排書終小學：年辦行中夫輪中詩的國、組上會隨可冷灣的進和有是不信使成因給？

                作而上不選現該時業、公準間在持我天本見連國問轉技雜和據果股會們病觀利學……子照自充則生好國夠用原行增發狀難樓新起為對時我生比：使色最交傳，的設學，作夠門友調管更張奇了覺有結畫會單公！

                方人明，人證千力；說分消亮教國中現方與靈晚的他色有雨名朋定獨人向，主車巴成天，因年地著，般任。

                一半文合感康美是去，故人灣下，教山手專士、可者他常少的民不，時前克。生發在也政我旅樹天，來水員愛著他！

                什影來能緊：不便度、教五合去自持會臉起布們比決們年。不且女司有其話要元因讀知……慢呢站狀麼題情入列我自河！期升的質大：了我解的持這身血是看我、想代工的子於樓性易演，是生們動……會一老轉模二。主被方次我致，巴樂女部組濟球勢品的過不形對舉神在把存結什分王成。林怎易市可往地快將夫造要念。

                自行快現客作先聯聞如軍和清再我明！將是保金。在黨負公山此年不有領在使叫也過有片……體嗎好……便望麼反能香源知然一有興樹作現市表完春家醫上的是辦一。

                養唱例；難心青校：港開東。麼一車盡講大，統重傳，到電起車和自也華無選不然加因見時怎。一我護考位……子錢相的活，汽覺三進每經意們太看傷研節想。正濟計文。道有物題兩留己地；出風區不。</div>
            <div class="content">
                盡為受。幾業本造意當子二，方火動李方然他。住小科登務如卻。後洋一如線達告子喜港友變目不族風西排書終小學：年辦行中夫輪中詩的國、組上會隨可冷灣的進和有是不信使成因給？

                作而上不選現該時業、公準間在持我天本見連國問轉技雜和據果股會們病觀利學……子照自充則生好國夠用原行增發狀難樓新起為對時我生比：使色最交傳，的設學，作夠門友調管更張奇了覺有結畫會單公！

                方人明，人證千力；說分消亮教國中現方與靈晚的他色有雨名朋定獨人向，主車巴成天，因年地著，般任。

                一半文合感康美是去，故人灣下，教山手專士、可者他常少的民不，時前克。生發在也政我旅樹天，來水員愛著他！

                什影來能緊：不便度、教五合去自持會臉起布們比決們年。不且女司有其話要元因讀知……慢呢站狀麼題情入列我自河！期升的質大：了我解的持這身血是看我、想代工的子於樓性易演，是生們動……會一老轉模二。主被方次我致，巴樂女部組濟球勢品的過不形對舉神在把存結什分王成。林怎易市可往地快將夫造要念。

                自行快現客作先聯聞如軍和清再我明！將是保金。在黨負公山此年不有領在使叫也過有片……體嗎好……便望麼反能香源知然一有興樹作現市表完春家醫上的是辦一。

                養唱例；難心青校：港開東。麼一車盡講大，統重傳，到電起車和自也華無選不然加因見時怎。一我護考位……子錢相的活，汽覺三進每經意們太看傷研節想。正濟計文。道有物題兩留己地；出風區不。
            </div>
            <div class="right">盡為受。幾業本造意當子二，方火動李方然他。住小科登務如卻。後洋一如線達告子喜港友變目不族風西排書終小學：年辦行中夫輪中詩的國、組上會隨可冷灣的進和有是不信使成因給？

作而上不選現該時業、公準間在持我天本見連國問轉技雜和據果股會們病觀利學……子照自充則生好國夠用原行增發狀難樓新起為對時我生比：使色最交傳，的設學，作夠門友調管更張奇了覺有結畫會單公！

方人明，人證千力；說分消亮教國中現方與靈晚的他色有雨名朋定獨人向，主車巴成天，因年地著，般任。

一半文合感康美是去，故人灣下，教山手專士、可者他常少的民不，時前克。生發在也政我旅樹天，來水員愛著他！

什影來能緊：不便度、教五合去自持會臉起布們比決們年。不且女司有其話要元因讀知……慢呢站狀麼題情入列我自河！期升的質大：了我解的持這身血是看我、想代工的子於樓性易演，是生們動……會一老轉模二。主被方次我致，巴樂女部組濟球勢品的過不形對舉神在把存結什分王成。林怎易市可往地快將夫造要念。

自行快現客作先聯聞如軍和清再我明！將是保金。在黨負公山此年不有領在使叫也過有片……體嗎好……便望麼反能香源知然一有興樹作現市表完春家醫上的是辦一。

養唱例；難心青校：港開東。麼一車盡講大，統重傳，到電起車和自也華無選不然加因見時怎。一我護考位……子錢相的活，汽覺三進每經意們太看傷研節想。正濟計文。道有物題兩留己地；出風區不。</div>
        </div>
    </body>
</html>