@{
    ViewBag.Title = "Gunner History";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="container">
    <div class="page-header">
        <h1 id="">Arsenal 2006-07</h1>
    </div>
    <div class="timeline">
        August 2006	Arsenal	1–1	Aston Villa	London	
        August 2006	Manchester City	1–0	Arsenal	Manchester	
        September 2006	Arsenal	1–1	Middlesbrough	London	
        September 2006	Manchester United	0–1	Arsenal	Manchester	
        September 2006	Arsenal	3–0	Sheffield United	London	
        September 2006	Charlton Athletic	1–2	Arsenal	London	
        October 2006	Arsenal	3–0	Watford	London	
        October 2006	Reading	0–4	Arsenal	Reading	
        October 2006	Arsenal	1–1	Everton	London	
        November 2006	West Ham United	1–0	Arsenal	London	
        November 2006	Arsenal	3–0	Liverpool	London	
        November 2006	Arsenal	1–1	Newcastle United	London	
        November 2006	Bolton Wanderers	3–1	Arsenal	Bolton	
        November 2006	Fulham	2–1	Arsenal	London	
        December 2006	Arsenal	3–0	Tottenham Hotspur	London	
        December 2006	Chelsea	1–1	Arsenal	London	
        December 2006	Wigan Athletic	0–1	Arsenal	Wigan	
        December 2006	Arsenal	2–2	Portsmouth	London	
        December 2006	Arsenal	6–2	Blackburn Rovers	London	
        December 2006	Watford	1–2	Arsenal	Watford	
        December 2006	Sheffield United	1–0	Arsenal	Sheffield	
        January 2007	Arsenal	4–0	Charlton Athletic	London	
        January 2007	Blackburn Rovers	0–2	Arsenal	Blackburn	
        January 2007	Arsenal	2–1	Manchester United	London	
        February 2007	Middlesbrough	1–1	Arsenal	Middlesbrough	
        February 2007	Arsenal	2–1	Wigan Athletic	London	
        March 2007	Arsenal	2–1	Reading	London	
        March 2007	Aston Villa	0–1	Arsenal	Birmingham	
        March 2007	Everton	1–0	Arsenal	Liverpool	
        March 2007	Liverpool	4–1	Arsenal	Liverpool	
        April 2007	Arsenal	0–1	West Ham United	London	
        April 2007	Newcastle United	0–0	Arsenal	Newcastle upon Tyne	
        April 2007	Arsenal	2–1	Bolton Wanderers	London	
        April 2007	Arsenal	3–1	Manchester City	London	
        April 2007	Tottenham Hotspur	2–2	Arsenal	London	
        April 2007	Arsenal	3–1	Fulham	London	
        May 2007	Arsenal	1–1	Chelsea	London	
        May 2007	Portsmouth	0–0	Arsenal	Portsmouth	

        <div class="row timeline-movement timeline-movement-top">
            <div class="timeline-badge timeline-future-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="timeline-badge timeline-filter-movement">
                <a href="#">
                    <span class="glyphicon glyphicon-time"></span>
                </a>
            </div>
        </div>
        <div class="row timeline-movement">

            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">18</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>


            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--due -->

        <div class="row timeline-movement">


            <div class="timeline-badge">
                <span class="timeline-balloon-date-day">13</span>
                <span class="timeline-balloon-date-month">APR</span>
            </div>

            <div class="col-sm-offset-6 col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11">
                        <div class="timeline-panel debits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6  timeline-item">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline-panel credits">
                            <ul class="timeline-panel-ul">
                                <li><span class="importo">Mussum ipsum cacilds</span></li>
                                <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                                <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>
<script type="text/template">
    <div class="row timeline-movement">
        <div class="timeline-badge">
            <span class="timeline-balloon-date-day">10</span>
            <span class="timeline-balloon-date-month">APR</span>
        </div>
        <div class="col-sm-offset-6 col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="timeline-panel debits">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Mussum ipsum cacilds</span></li>
                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6  timeline-item">
            <div class="row">
                <div class="col-sm-11">
                    <div class="timeline-panel credits">
                        <ul class="timeline-panel-ul">
                            <li><span class="importo">Mussum ipsum cacilds</span></li>
                            <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                            <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>